[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/launch"]
	path = content/themes/launch
	url = https://github.com/katiefenn/launch.git
