[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "ops"]
	path = ops
	url = git@bitbucket.org:katiefenn/ghost-ops.git
[submodule "content/themes/launch"]
	path = content/themes/launch
	url = https://github.com/katiefenn/launch.git
